:root {
    --main-width: 1250px;
    --body-bg: #121212;
    --bg-color: #181818;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins";
    -webkit-tap-highlight-color: transparent !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body {
    background-color: var(--body-bg);
    overflow: hidden;
    padding-bottom: 40px;
}

header {
    position: fixed;
    top: 0;
    background-color: var(--bg-color);
    color: white;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    z-index: 6;
    transition: top 0.4s ease;
}

.nav-container {
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

#logo a img {
    height: 55px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

#searchBar {
    flex: 1;
    font-size: 1rem;
    padding: 0.4em 0.8em;
    border-radius: 60px;
    outline: none;
    border: none;
    font-weight: 500;
    min-width: 300px;
    border-radius: 35px;
    background-color: #fff;
    color: black;

}

#searchBar::placeholder {
    font-size: 1rem;
    font-weight: 300;
    color: #272727c5;
}


#searchVal {
    color: orange;
}



#searchBtn {
    border: none;
    position: absolute;
    right: 5px;
    top: 2px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: transparent;
    color: black;
    opacity: 0.8;
}

#searchBtn:hover {
    opacity: 1;
}

form {
    position: relative;
}

#searchBar:focus {
    border-color: #fada54;
}

#searchBar:auto-fill {
    background-color: transparent;
}

main {
    color: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    .container {
        width: var(--main-width);
    }
}



#searchResults {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    margin-top: 30px;
    row-gap: 30px;
    justify-content: start;
}

.movies-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    overflow-x: scroll;
    gap: 18px;

    .card {
        cursor: pointer;
        overflow: hidden;
        width: 280px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        figure {
            position: relative;
            overflow: hidden;
            border-radius: 10px;

            img {
                width: 100%;
                aspect-ratio: 2/3;
                transition: all 0.5s ease;
            }

            .overlay {
                background-color: rgba(18, 18, 18, 0.8);
                backdrop-filter: blur(2px);
                border-radius: 10px;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: -100%;
                overflow: hidden;
                color: #fff;
                display: flex;
                align-items: end;
                transition: left 0.3s ease;
                z-index: 3;

                .content {
                    position: relative;
                    padding: 10px;
                    width: 280px;
                    padding-left: 30px;
                    height: 35%;
                    font-size: 1.1rem;


                }

            }
        }

        .movie-rating {
            margin-left: 10px;

            margin-top: 8px;
        }

        .movie-title {
            font-weight: 500;
            font-size: 1.1rem;
            margin-left: 10px;

            margin-top: 0px;
        }

    }
}

.content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    /* Number of lines to show */
    overflow: hidden;
}


.overlay>.content::before {
    content: "";
    position: absolute;
    left: 10px;
    background-color: red;
    width: 8px;
    top: 15px;
    height: 50px;
}


.card:hover {
    figure {
        img {
            transform: scale(1.1);
        }

        .overlay {
            left: 0;
        }
    }
}

.container {
    position: relative;
}

.tv.container {
    margin-top: 40px;
}

.container.trending {
    margin-top: 40px;
}

.btn-cont {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    position: absolute;
    top: 40%;
    width: fit-content;

}

.btn-cont:hover {
    z-index: 8;

    .move-btn {
        color: #e4e4e4;

    }
}

.btn-cont.left {
    left: -50px;
    display: none;
}

.btn-cont.right {
    right: -50px;
}

.btn-cont>* {
    font-size: 4rem;
    color: rgba(255, 255, 0, 0.482);
    transition: all 0.8s ease;

}

.btn-cont>*:hover {
    font-size: 4rem;
    color: yellow;
    transition: all 0.8s ease;

}

.errMsg {
    display: none;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#loader {
    position: fixed;
    top: 80px;
    height: calc(100% - 80px);
    width: 100dvw;
    background-color: #181818;
    z-index: 99999;
}

.loader-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 8px solid gray;
    border-radius: 50%;
    border-top-color: #29d8ff;
    animation: spin 2s infinite linear;
    z-index: 9999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(width <=1250px) {
    :root {
        --main-width: 1000px
    }
}

@media(width <=1050px) {
    :root {
        --main-width: 900px
    }

    .btn-cont.left {
        z-index: 9;

        left: -20px;
    }

    .btn-cont.right {
        z-index: 9;

        right: -20px;
    }
}

@media(width <=950px) {
    :root {
        --main-width: 95%;
    }

    .card {
        width: 150px !important;
    }

    .figure {
        aspect-ratio: 2/3 !important;
        width: 100%;
        height: fit-content !important;

        img {
            height: 100% !important;
            width: 100% !important;
            object-fit: contain;
        }
    }

    .movie-title {

        font-size: 0.9rem !important;
    }

    .overlay {
        padding-bottom: 20px;

        .content {
            font-size: 0.8rem !important;
        }

    }

    #logo a img {
        margin-top: 10px;
        height: 35px;
    }

    #searchBar {
        min-width: auto;
        width: 200px !important;
    }



}

@media (width <=760px) {
    #searchResults {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        align-content: center;
        gap: 5px;

    }

    #searchResults>* {
        align-self: center;
    }
}

@media(width <=500px) {
    .btn-cont {
        display: none !important;
    }

    .card {
        width: 170px !important;
    }

    .loader-spinner {
        left: 40%;
    }

    #searchResults {
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px;
        padding-left: 4.5dvh;
    }


}

.movies-container::-webkit-scrollbar {
    display: none;
}